* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  background-color: #1e1e1e;
  padding-bottom: 10px;
  background-image: url("../assets/images/Aurora-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
