.output-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 300px;
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
    .text-element {
      position: absolute;
      cursor: move;

      &:hover {
        outline: 1px solid lightcoral;
      }

      white-space: pre;

      h1 {
        line-height: auto;
      }
    }
  }
}
